.nominations-container {
  background-image: url($img-url + 'nominations.jpg');
  background-size: cover;
  background-position: center;
  padding: 126px 95px 126px 190px;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 150px;
}
.nominations-container-years {
  display: flex;
  flex-flow: nowrap column;
  line-height: 98px;
  font-size: 72px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 103px;
}
.nominations-container-stars {
  padding-top: 47px;
  margin-bottom: 25px;
}
.nominations-star {
  margin-right: 25px;
  &:last-child {
    margin-right: 0;
  }
}
.nominations-container-desc {
  font-family: "Open_Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  margin: 0;
  padding: 0;
}